# Payment Service

DATABASE_URL=postgresql://cloudcommerce:cloudcommerce@localhost:5432/cloudcommerce
PORT=3005
KAFKA_BROKER=localhost:9092
KAFKA_GROUP_ID=payment-service-group
KAFKAJS_NO_PARTITIONER_WARNING=1